* {
  box-sizing: border;
}
html {
  overflow-y: scroll;
  background-color: #f9f9f9;
}
body {
  margin: 0;
}
a,
a:hover,
a:active,
a:visited {
  color: #494949;
  text-decoration: none;
}

/* 전역 변수선언 */
:root {
  /* css에서 변수를 만들 때 하이픈 2개 -- */
  --box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05);
}
:global(#root) {
  /* #root 의 의미는 아이디가 루트인 녀석 -> index.html 을 건드리고
  싶은 거임 */
  display: flex;
  flex-direction: column;
  min-height: column;
  min-height: 100vh;
}
.nav,
.footer {
  flex: none;
  /* flex 설정하지 않겠다는 의미  */
}
.body {
  position: relative;
  flex-grow: 1;
  margin: 10px 0;
}
