.footer {
  /* 하단 전체를 감싸고 있음 */
  padding: 20px 0 53px;
  /* 위쪽 패딩 20px 양쪽 패딩 0 아래쪽 패딩 53px */
  color: #878787;
  background-color: #494949;
}
.links {
  color: #c4c4c4;
  display: flex;
  list-style: none;
  gap: 30px;
  /* 줄 간격 */
}
.info {
  /* 세로줄에서 가로줄로 변경 */
  /*  내가 쓴거 display: flex; */
  /* flex-direction: row;
  justify-content: center; */
  display: flex;
  list-style: none;
  column-gap: 30px;
  /* 이렇게만 하면 펼쳐지지 않은 줄이 생김 */
  /* 펼치고 싶을 때 플렉스 랩 사용함 */
  flex-wrap: wrap;
  /* 여기까지만 하면 두 줄 간격으로 줄이 생김 - gap 때문에 */
  /* row-gap과 columns-gap이 30px씩 들어간게 일반 갭임 */
  /* row-gap은 필요가 없으니까 그냥 갭이 아니라 컬럼 갭으로 바꿔줘야 됨 */
}
.icons {
  /* 왼쪽 오른쪽 양 끝쪽에 고정 */
  /* 위하고 다른 건 위쪽이 가지고 있는 기본적인 패딩때문에 그런거임 */
  /* align-items: end; */
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: "TheJamsil5Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.logo > span {
  background-color: #878787;
  color: #515151;
}
